#about{
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #171f29;
    color: #6cf0e5;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 45pt;

    animation: flow 4s ease-in-out infinite;
    background: linear-gradient(-60deg, #03a9f4, #00bcd4, #e73c7e, #ee7752);
    background-size: 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 25pt;
    font-weight: 600;
}

.text-center {
    width: 100%;
    text-align: center;
}

#underline {
    background: linear-gradient(-60deg, #57bfc7, #00bcd4, #e73c7e, #ee7752);
    background-size: 150%;
    animation: flow 6s ease-in-out infinite;
    margin: 0 auto 15px;
    width: 300px;
    height: 10px;
}

#smallUnderline {
    background: linear-gradient(-60deg, #ee7752, #e73c7e, #00bcd4, #57bfc7);
    background-size: 160%;
    animation: flow 8s ease-in-out infinite;
    margin: 0 auto;
    width: 200px;
    height: 10px;
}

@keyframes flow {

    0% {background-position: 0 50%;}

    50% {background-position: 100% 50%;}

    100% {background-position: 0 50%;}

}

#meImg {
    width: 180px;
    height: 180px;
    border-radius: 50%;

    background: linear-gradient(-60deg, #ee7752, #e73c7e, #00bcd4, #57bfc7);
    background-size: 180%;
    animation: flow 8s ease-in-out infinite;

    display: block;
    margin: 10px auto 10px auto;
}

#race {
    font-weight: 600;
    font-size: 25pt;
}

.bio-icons {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#dalip-info {
    margin-left: 30px;
    font-size: 15pt;
    font-weight: 600;
}

.trait-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
}

.trait-head {
    font-size: 15pt;
    font-weight: 600;
}

.trait-text {
    font-size: 12pt;
    font-weight: 600;
}

.skillRow {
    font-size: 15pt;
    font-weight: 600;
}

.skillImg {
    width: 90px;
    height: 90px;
    filter: brightness(0) invert(1);
    transition: 0.5s ease;

    display: block;
    margin: 10px auto 10px auto;
}
.skillImg:hover {
    filter: brightness(1);
}

#photoshop {
    background: transparent;
}
#photoshop:hover{
    background: white;
}

.skill-col-1 {
    color: #00e5ff;
}

.skill-col-2 {
    color: #69f0ae;
}

.skill-col-3 {
    color: #ff6f00;
}

.skill-col-4 {
    color: #e73c7e;
}
