#intro {
    top: 0;
    min-height: 100%;
    height: auto;
    width: 100%;
    position: absolute;
}

#name {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35pt;
    line-height: 35pt;
    color: white;
    top: 20%;
    position: absolute;
}

.text-center {
    width: 100%;
    text-align: center;
}

.bold-name {
    font-weight: 600;
    color: #e91e63;

    animation: flow 8s ease-in-out infinite;
    background: linear-gradient(-60deg, #03a9f4, #00bcd4, #e73c7e, #ee7752);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-link {
    margin: 0 auto;
}

.homeButton {
    margin: 20px auto;

    border:0;
    border-radius: 10px;
    height: 75px;
    width: 250px;

    font-family: 'Raleway', sans-serif;
    font-size: 35pt;
    font-weight: 600;

    animation: flow 8s ease-in-out infinite;
    background: linear-gradient(-60deg, #03a9f4, #00bcd4, #e73c7e, #ee7752);
    background-size: 300%;
}

#takeThis{
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    transition: 1s cubic-bezier(0.6, 0.05, 0.4, 1);
    background: #171f29;
}
#takeThis.active{
    top: 0;
}

#takeCont{
    font-family: 'VT323', monospace;
    color: WHITE;
}
#takeCont.active {
    animation: fadeIn 6s;
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


#dangerous{
    margin-top: 60px;
    font-size: 60pt;
}

#wRow {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 50pt;
    cursor: url(../images/Sword.png), auto;
}

.weapons:hover{
    animation: flow 4s ease-in-out infinite;
    background: linear-gradient(-60deg, #03a9f4, #00bcd4, #e73c7e, #ee7752);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mode{
    color: WHITE;
}

.weaponButton {
    background:inherit;
    border:none;
}

.weaponDesc{
    margin-top: 10px;
    font-size: 30pt;
    color: WHITE;
}

.portfolio-img {
    width: 50px;
    height: 50px;
    margin: 10px
}

.center-div {
    margin: auto;
}