#quest-journal{
    position: absolute;
    top: 300%;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #171f29;
    color: WHITE;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

h1 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 55pt;

    animation: flow 4s ease-in-out infinite;
    background: linear-gradient(-60deg, #03a9f4, #00bcd4, #e73c7e, #ee7752);
    background-size: 120%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {

    0% {background-position: 0 50%;}

    50% {background-position: 100% 50%;}

    100% {background-position: 0 50%;}
}

#back-button {
    width: 75px;
    height: 75px;
    z-index: -1;
    background: transparent;
    border: none;
    margin: 10px auto;
}
#back-button:hover {
    z-index: 400;
}

#back-img {
    width: 75px;
    height: 75px;
}

h2 {
    font-size: 25pt;
    font-weight: 600;
}

.text-center {
    width: 100%;
    text-align: center;
}

#underline {
    background: linear-gradient(-60deg, #57bfc7, #00bcd4, #e73c7e, #ee7752);
    background-size: 150%;
    animation: flow 6s ease-in-out infinite;
    margin: 0 auto 15px;
    width: 300px;
    height: 10px;
}

#smallUnderline {
    background: linear-gradient(-60deg, #ee7752, #e73c7e, #00bcd4, #57bfc7);
    background-size: 160%;
    animation: flow 8s ease-in-out infinite;
    margin: 0 auto;
    width: 200px;
    height: 10px;
}

.invisible {
    display: none;
}

.anim-row {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.quest-row {
    display: flex;
    position: absolute;
    top: 200px;
    width: 100%;
    height: auto;

    background: #171f29;
}

.training-row {
    display: none;
    top: 200px;
    width: 100%;
    height: auto;
    z-index: -1;
}
.training-row.show {
    display: flex;
    z-index: 2;
}

.main-row {
    display: none;
    top: 200px;
    width: 100%;
    height: auto;
    z-index: -1;
}
.main-row.show {
    display: flex;
    z-index: 2;
}

.side-row {
    display: none;
    top: 200px;
    width: 100%;
    height: auto;
    z-index: -1;
}
.side-row.show {
    display: flex;
    z-index: 2;
}

.wrapper {
    left: 0;
    right: 0;
    margin: 20px auto 0 auto;
    width: 400px;
    height: auto;
    min-height: 650px;
    perspective: 900px;
    transition: .5s all ease;
}
.wrapper.clicked {
    width: 90%
}

.card {
    top: 0;
    width: 100%;
    min-height: 650px;
    height: 100%;
    transition: .5s all ease;
    box-shadow: 0 20px 50px BLACK;}

.quest-wrapper {
    z-index: 1;
}
.quest-wrapper.hide {
    z-index: -1;
}

.quest-card {
    transform: rotateX(40deg) scale(0.7);
    transition: .5s all ease-in-out;
    opacity: 1;
    z-index: 1;
}
.quest-card.hide {
    transform: rotateX(90deg) scale(0.7);
    opacity: 0;
}
.quest-card:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: .5s all ease;
    z-index: 400;
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0;
    }
    100% {
        top: 0;
    }
}

.card-title {
    font-size: 50pt;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 60px;
}

.card-orange {
    color: BLACK;
    background: linear-gradient(30deg, #ffab91, #64ffda);
    height: 100%;
}

.card-pink {
    color: WHITE;
    background: linear-gradient(30deg, #00bcd4, #e73c7e);
    height: 100%;
}

.quest-img {
    width: 300px;
    height: 300px;
    transition: 0.5s ease;

    display: block;
    margin: auto;
    vertical-align: middle;
}

.quest-img-white {
    filter: brightness(0) invert(1);
}

.quest-img-black {
    filter: brightness(0);
}

.exp-img {
    width: 200px;
    height: 200px;
    transition: 0.5s ease;
    margin: 20px auto 20px auto;
    display: inherit;
}

.exp-row {
    width: 80%;
    margin-bottom: 50px;
    z-index: 2;
}

.exp-card {
    width: 100%;
    transition: ease-in-out .5s;
}

.card-rounded {
    border-radius: 25px;
}

.project-title {
    font-size: 28pt;
    font-weight: 800;
    margin-top: 20px;
    line-height: 60px;
}

.training-wrapper {
    z-index: -1;
}
.training-wrapper.show {
    z-index: 1;
}

.main-wrapper {
    z-index: -1;
}
.main-wrapper.show {
    z-index: 1;
}

.side-wrapper {
    z-index: -1;
}
.side-wrapper.show {
    z-index: 1;
}

.title-row {
    width: 90%;
    height: auto;
}

.logo-row {
    min-height: 300px;
    height: auto;
}

.no-padding {
    padding: 0;
}

.card-skill-img {
    display: inherit;
    margin: 20px auto 0 auto;
    width: 90px;
    height: 90px;
}

.card-skill-white {
    filter: brightness(0) invert(1);
}

.card-skill-black {
    filter: brightness(0);
}

.details {
    font-size: 20pt;
    display: none;
    opacity: 0;
    transition: all 0s ease-out 0s;
}
.details.show {
    display: block;
    opacity: 1;
    animation: fadeIn 1s;
    animation-delay: .5s;
    transition: all 0s ease-in .1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
